canvas {
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

body {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

@media (max-width: 1300px) {
    .grid {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 700px) {
    .grid {
        grid-template-columns: auto;
    }
}