canvas {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.grid {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: end;
}