:root {
    --primary: #2b7abf;
    --secondary: #0f477b;
    --text: #e7edf3;
    --background: #ffffff16;
    --border-radius: 10px;
    --dark-grey: rgb(43, 48, 53);
}

.title-section {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0;
    margin-top: 1rem;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}


section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    margin: 1rem 3rem 1rem 3rem;
    background-color: var(--background);
    border-radius: var(--border-radius);
}

h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

footer {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--dark-grey);
    align-items: baseline;
    justify-content: flex-end;
}

footer>p {
    margin-bottom: 0;
}


/* EA1 */
#sprite-window {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;

    background-image: url(./ea1/frames/spritesheet.jpg);
    background-position: 0;

}