main {
    display: flex;
    flex-direction: row;
    gap: 1rem
}

canvas {
    margin: 0;
    width: 100%;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.controls>div {
    display: flex;
    flex-direction: column;
    background-color: #ffffff16;
    padding: 1em;
    border-radius: 1rem;
}

.camera-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


#btn-up {
    grid-area: 1 / 2 / 2 / 3;
}

#btn-orbit-l {
    grid-area: 2 / 1 / 3 / 2;
}

#btn-orbit-r {
    grid-area: 2 / 3 / 3 / 4;
}

#btn-down {
    grid-area: 3 / 2 / 4 / 3;
}