main {
    display: flex;
    flex-direction: row;
}

canvas {
    margin: auto;
    width: 80vw;
    height: 80vh;
    padding: 1em;

}

.controls {
    display: flex;
    width: 20vw;
    flex-direction: column;
    background-color: #ffffff16;
    padding: 1em;
    border-radius: 1rem;
}