main {
    display: flex;
    flex-direction: row;
}

canvas {
    margin: auto;
    width: 80vw;
    height: 80vh;
    padding: 1em;

}

.controls {
    display: flex;
    max-width: 20vw;
    flex-direction: column;
    background-color: #ffffff16;
    border-radius: 1rem;
    padding: 1em;
    margin-bottom: 1em;

}

.controls>div {
    padding: 1em;
    margin-top: 1em;
}

.controls>div>h2 {
    margin-bottom: 0.4em;
}